# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/lms

# Super Admin seed credentials
# These will be used by: node seedSuperAdmin.js
SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=SuperAdmin@123

# Optional
BCRYPT_ROUNDS=10

